* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

#container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    /* gap: 5vw; */
}

/* Left side */

#left {
    width: 40vw;
    background-image: url("./img/halie-west-25xggax4bSA-unsplash.jpg");
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

#img-logo {
    width: 100px;
    height: 125px;
}

.logo-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    background-color: black;
    color: white;
    font-size: large;
    opacity: 50%;
    width: 40vw;
    height: 150px;
    margin-top: 100px;
}

.photo-credit {
    color: white;
    position: absolute;
    bottom: 0px;
}

.photo-credit a {
    text-decoration: none;
    color: white;
}

/* Right side */

#right {
    display: flex;
    width: 60vw;
    justify-content: center;
    flex-direction: column;
    /* margin-left: 5vw; */
    background-color: whitesmoke;
}

.right-header {
    width: max(42vw, 340px);
    margin-left: 5vw;
}

p + p {
    margin-top: 1rem;
}

form {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: white;
    margin-top: 4rem;
    padding-left: 5vw;
}

form h3 {
    width: 55vw;
}

form input {
    /* display: flex;
    justify-content: center;
    flex-direction: row;
    flex-flow: wrap; */
    width: max(20vw, 150px);
    border-color: #E5E7EB;
    border-style: solid;
    border-radius: 5px;
}

input.focus {
    border: 1px solid blue;
    box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.1);
}
  
input.error {
    border: 1px solid red;
}

.error-wrapper {
    display: none;
    width: 50vw;
    color: red;
}

#submit-btn {
    width: 200px;
    background-color: #596D48;
    color: white;
    border-radius: 12px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 32px;
    margin-top: 2rem;
    margin-left: 5vw;
}

#submit-btn:hover {
    background-color: #87957a;
}

.right-footer {
    margin-top: 2rem;
    margin-left: 5vw;
}

.input {
    display: flex;
    flex-flow: column wrap;
}